* {
    box-sizing: border-box;
    color: $black;
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale;
} //*

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: Roboto;
}
  
body {
    background-color: $background--grey;
    padding-top: $nav-height;
} //body
  
h1 {
    font-size: $font-size--highlight;
}

h2 {
    font-size: $font-size--xxlarge;
}

h3 {
    font-size: $font-size--large;
}

.button {
    border-radius: 10px;
    text-align: center;
    font-size: $font-size--medium;
    font-weight: $font-weight--medium;
    letter-spacing: 0;
    padding: 8px 15px;
    
    &--small {
        padding: 5px 10px;
    }

    &--default {
        color: $white;
        background: $blue;
        border: 1px solid $grey;
    }

    &--white {
        color: $black;
        background: $white;
        border: 1px solid $black;
    }
} //button

.form {
    margin: 20px 0 25px 0;

    &.error {
        .form-title {
            margin: 20px 0 5px 0;
        }

        .form-error  {
            display: inline-block;
        }
    }

    .form-title {
        margin: 20px 0 10px 0;
        text-align: left;
    }

    .form-error {
        display: none;
        margin: 0 0 5px 0;
        color: $error;
        font-size: $font-size--medium;
        text-align: left;
    }
}

.input {
    margin: 0 0 10px 0;
    
    .error {
        display: none;
        margin: 0 0 5px 0;
        color: $error;
        font-size: $font-size--medium;
        text-align: left;
    }//.error

    
    label {
        display: inline-block;
        margin: 0 0 5px 0;
        text-align: left;
        font-size: $font-size--medium;
        letter-spacing: 0;
        color: $grey;
    }//label
    
    &.input-text {
        .input-inner {
            &.currency {
                padding: 0 30px 0 0;
                position: relative;
                
                &:after {
                    @extend .material-icons;
                    content: "euro_symbol";
                    position: absolute;
                    right: 7px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 30px;
                    font-size: 26px;
                    pointer-events: none;
                }
            }
            
            input {
                width: 100%;
                height: 30px;
                padding: 0 5px;
                font-size: $font-size--medium;
                border: 1px solid #707070;
                border-radius: 3px;
                box-shadow: $box-shadow--1;
            }
            
            textarea {
                width: 100%;
                padding: 5px;
                font-size: $font-size--medium;
                border: 1px solid #707070;
                border-radius: 3px;
                box-shadow: $box-shadow--1;
            }
        }
    }//.input-text
    
    
    &.input-select {
        .select-wrapper {
            position: relative;
            
            &:after {
                @extend .material-icons;
                content: "arrow_drop_down";
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 30px;
                font-size: 30px;
                pointer-events: none;
            }
            
            select {
                width: 100%;
                height: 30px;
                padding: 0 5px;
                font-size: $font-size--medium;
                background: $white;
                border: 1px solid #707070;
                border-radius: 3px;
                box-shadow: $box-shadow--1;
                position: relative;
                appearance: none;
                -webkit-appearance: none;
            }
        }//.select
    }//&.input-select
    
    &.input-checkbox {
        input {
            display: none;
            
            &:checked {
                &+ label {
                    &:before {
                        content: "check_box";
                    }
                }
            }
        }
        
        label {
            position: relative;
            padding: 0 0 0 30px;
            line-height: 1.5;
            
            &:before {
                @extend .material-icons;
                content: "check_box_outline_blank";
                position: absolute;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 26px;
                pointer-events: none;
                line-height: 1.3;
            }
            
            
        }
    }//&.input-checkbox

    &[error]:not([error=""]) {
    // &.error {
        label {
            margin: 0;
        }

        input[type="text"] {
            border-color: $error;
        }

        .error {
            display: inline-block;
        }
    }//.error
}//.input

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .col {
        padding: 0 $column-padding;
        flex-grow: 1;
        flex-basis: auto;
        width: 100%;
        
        &:last-child {
            padding: 0 0 0 $column-padding;
        }
        &:first-child {
            padding: 0 $column-padding 0 0;
        }
        &.noPadding {
            padding: 0;
        }
    }
}

.site {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.divider {
    width: 100%;
    height: 1px;
    border: none;
    background: $grey;
}

nav {
    width: 100%;
    height: $nav-height;
    border: 1px solid $border-color--1;
    border-bottom-left-radius: $border-radius--1;
    border-bottom-right-radius: $border-radius--1;
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    box-shadow: $box-shadow--1;
    z-index: $z-Index--6;

    .material-icons {
        font-size: 36px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .menu {
        left: 10px;
    }

    .account {
        right: 10px;
    }

    .accountPopUp {
        display: none;
        width: auto;
        height: auto;
        position: fixed;
        right: 10px;
        top: $nav-height+5;
        background: $white;
        padding: 10px;
        border: 1px solid $border-color--1;
        box-shadow: $box-shadow--1;

        &.active{
        display: inline-block;
        } 
    }
} //nav

aside.side-navi {
    width: 90%;
    height: 100%;
    height: calc(100% - #{$nav-height});
    position: fixed;
    left: -100%;
    top: $nav-height;
    background: $white;
    border: 1px solid $border-color--1;
    box-shadow: $box-shadow--1;
    transition: left 1s;
    z-index: $z-Index--6;

    &.active {
        left: 0;
    }

    .navi-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 42px;
        padding: 15px;
        border-bottom: 1px solid $border-color--1;
        font-size: $font-size--xlarge;
        text-align: left;
        text-decoration: none;
        background: transparent;
    }
} //aside.side-navi

.site-title {
    width: 100%;
    text-align: left;
    padding: 20px 0 15px 0;
    font-size: $font-size--xxlarge;
    font-weight: $font-weight--medium;
}//site-title

.list-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 765px;
    height: 80px;
    padding: 38px 10px 5px 10px;
    background: $white;
    box-shadow: $box-shadow--1;
    margin: 0 0 15px 0;
    text-decoration: none;
  
    .header {
      position: absolute;
      top: 1px;
      left: 1px;
      height: 30px;
      width: calc(100% - 2px);
      background: $lightgrey;
      padding: 5px 0 5px 8px;
      color: $black;
      font-weight: $font-weight--normal;
      font-size: $font-size--medium;
  
      .right, .left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
  
      .right {
        right: 6px;
      }
  
      .left {
        left: 6px;
      }
    }
  
    .text {
      padding: 0 5px 0 0;
      font-size: $font-size--medium;
      font-weight: $font-weight--normal;
      color: $black;
    }
  
    .number {
      display: flex;
      align-items: center;
      font-size: $font-size--medium;
      font-weight: $font-weight--medium;
      color: $black;
  
      &.red {
        color: $red;
      }
      &.green {
        color: $green;
      }
    }
  }//.list-item