/**
    Finaneger Colors
**/
$black: #333333;
$grey: #707070;
$white: #FFFFFF;
$green: #29BA66;
$red: #E05353;
$blue: #5276C7;

$error: #721c24;

$background--grey: #F2F6F8;

$border-color--1: #909090;

/**
    Font-Sizes
**/
$font-size--small: 12px;
$font-size--normal: 14px;
$font-size--medium: 16px;
$font-size--large: 18px; //h3
$font-size--xlarge: 20px;
$font-size--xxlarge: 24px; //h2
$font-size--xxxlarge: 28px;
$font-size--highlight: 32px; //h1
/**
    Font-Weights
**/
$font-weight--light: 200;
$font-weight--normal: 400;
$font-weight--medium: 600;
$font-weight--bold: 800;

/**
    Sizes
**/
$nav-height: 50px;

/**
    Box-Shadows
**/
// $box-shadow--1: 5px 5px 3px #00000029;
$box-shadow--1: 5px 5px 3px rgba(0, 0, 0, 0.15);
$box-shadow--2: 0px 1px 5px #999999;

/**
    Z-Indexes
**/
$z-Index--1: 100;
$z-Index--2: 200;
$z-Index--3: 300;
$z-Index--4: 400;
$z-Index--5: 500;
$z-Index--6: 600;
$z-Index--7: 700;
$z-Index--8: 800;