$material-icons-font-path: "~material-icons/iconfont/";
@import "~material-icons/iconfont/material-icons.scss";

$fontPath: "../assets/fonts/";

@font-face {
    font-family: "Roboto";
    src: url("#{$fontPath}Roboto-Light.ttf");
    font-weight: $font-weight--light;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("#{$fontPath}Roboto-Regular.ttf");
    font-weight: $font-weight--normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("#{$fontPath}Roboto-Medium.ttf");
    font-weight: $font-weight--medium;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("#{$fontPath}Roboto-Bold.ttf");
    font-weight: $font-weight--bold;
    font-style: normal;
}
