/**
	Breakpoints
**/
$sm: 420px;
$md: 765px;
$lg: 1000px;
$xlg: 1200px;

/**
    Finaneger Colors
**/
$black: #333333;
$grey: #707070;
$lightgrey: #dddddd;
$white: #ffffff;
$green: #29ba66;
$red: #e05353;
$blue: #03a9f4;

$error: #721c24;

$background--grey: #f2f6f8;
$background--dark-grey: #e4eaee;

$border-color--1: #909090;
$border-color--2: #c6d2d9;

/**
    Font-Sizes
**/
$font-size--small: 12px;
$font-size--normal: 14px;
$font-size--medium: 16px;
$font-size--large: 18px; //h3
$font-size--xlarge: 20px;
$font-size--xxlarge: 24px; //h2
$font-size--xxxlarge: 28px;
$font-size--highlight: 32px; //h1
$font-size--xxxhighlight: 50px; //h2
/**
    Font-Weights
**/
$font-weight--light: 200;
$font-weight--normal: 400;
$font-weight--medium: 600;
$font-weight--bold: 800;

/**
    Sizes
**/
$nav-height: 50px;
$column-padding: 5px;
$aside-size: 210px;

/**
    Box-Shadows
**/
// $box-shadow--1: 5px 5px 3px #00000029;
$box-shadow--1: 5px 5px 3px rgba(0, 0, 0, 0.15);
$box-shadow--2: 0px 1px 5px #999999;

/**
	Text-Shadows
**/
$text-shadow--1: 0px 1px 1px #555;
$text-shadow--2: 0px 1px 1px #eee;

/**
    Z-Indexes
**/
$z-Index--1: 100;
$z-Index--2: 200;
$z-Index--3: 300;
$z-Index--4: 400;
$z-Index--5: 500;
$z-Index--6: 600;
$z-Index--7: 700;
$z-Index--8: 800;

/**
    Border-Radius
**/
$border-radius--1: 3px;
$border-radius--2: 10px;

/**
	Mixins
**/
@mixin respond-to($media) {
    @media only screen and (min-width: $media) {
        @content;
    }
}
